@import url("https://use.typekit.net/rbt3pze.css");

dark-gray = #6A6A6A;
darker-gray = #292929;
light-green = #0f5;
button-green = #00d41e;
link-orange = #f25500;
font-gray = #414141;
mobile = 530px;

.bottom-dashed {
  background-image: linear-gradient(90deg,#444 33%,hsla(0,0%,100%,0) 0);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

body, html {
  font-family: roboto;
  height: 100%;
  margin: 0px;
  letter-spacing: 2px;
}
button {
  cursor: pointer;
  padding:10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-transform: uppercase;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

hr {
    width: 100%;
    height: 1px;
    background: none;
    margin: 20px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

input {
  width: 100%;
  min-height: 30px;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  color: link-orange;

}
a {
  text-decoration: none;
  color: link-orange;
}
p {
  display: flex;
  flex-wrap: wrap;
}

.error {
  text-align: center;
  background: #ffea00;
  padding: 10px;
  color: font-gray;
  font-weight: 600;
  position: relative;
  &:before {
    content: '!';
    position: absolute;
    top: 0px;
    left: -10px;
    font-size: 2rem;
    font-family: fira-sans, sans-serif;
    font-weight: 800;
    color: link-orange;
  }
  b {
    font-size: 1.2rem;
  }
}
span {
  margin-right: 5px;
}

.holiday-theme {
  background: red;
  padding: 10px;
  color: white;
}