@import url("https://use.typekit.net/rbt3pze.css");

dark-gray = #6A6A6A;
darker-gray = #292929;
light-green = #0f5;
button-green = #00d41e;
link-orange = #f25500;
link-blue = #79ABE0;
button-blue = #79ABE0;
font-gray = #414141;
mobile = 530px;
.app 
  position: relative;
.bottom-dashed {
  background-image: linear-gradient(90deg,#444 33%,hsla(0,0%,100%,0) 0);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}
.top-dashed {
  background-image: linear-gradient(90deg,#ccc 33%,hsla(0,0%,100%,0) 0);
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

body, html {
  font-family: roboto;
  height: 100%;
  margin: 0px;
  letter-spacing: 2px;
  background: #FDF4E3;
}
button {
  cursor: pointer;
  padding:10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-transform: uppercase;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

hr {
    width: 100%;
    height: 1px;
    background: none;
    margin: 20px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

input {
  width: 100%;
  min-height: 30px;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  letter-spacing: .2rem;
}
a {
  text-decoration: none;
  color: link-blue;
}
p {
  display: flex;
  flex-wrap: wrap;
}


span {
  margin-right: 5px;
}

.holiday-theme {
  background: red;
  padding: 10px;
  color: white;
}

.limit-width
  max-width: 800px;