@import './basic.styl'

.login-container
  display: flex;
  align-content: center; 
  justify-content: center;
  height: 100vh;

  background-size: cover;
  .login-content
    width: 500px;
    margin: auto;
    background: white;
    z-index: 3;
    padding: 30px;
    color: dark-gray;
    box-shadow: 0px 0px 50px 0px #888888;
    border-radius: 5px;
    .logo-container-link
      display: flex;
      justify-content: center;
      align-content: center;
    .logo-center
      margin-top: -150px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      @media screen and (max-width: mobile) 
        position: absolute;
        top: 0px;
        margin: 0px;
        z-index: -1;
    button 
      background: button-green;
      color: white;
      font-weight: 800;
      border: 0px;
      justify-self: center;
      align-self: center;
      width: 150px;
      margin-top: 20px;
      &:hover
        filter: brightness(120%)
        box-shadow: 0px 0px 5px 0px #888888;
    h1 
      font-weight: 400;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #ccc;
      margin-top: 0px;
      background: rgba(255, 255, 255, 0.6);
    form 
      display: grid;
      label
        font-family: roboto;
      input 
        margin: 10px 0px;
  .bottom
    height: 50%;
    top: 50%;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0px;
    @media screen and (max-width: mobile) 
      z-index: 4;
      height: auto;
      bottom: 0px;
      top: inherit;
      ul
        display: inline-grid;
        margin: 0px;
    .bottom-content 
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      color: white;
      padding: 10px;
      box-sizing: border-box;
      @media screen and (max-width: mobile) 
        background: white;
      ul
        list-style: none;
        padding: 0px;
        li
          padding: 10px 0;
          text-transform: uppercase;
          letter-spacing: .1rem;