@import './basic.styl'

.login-container
  display: flex;
  align-content: center; 
  justify-content: center;
  height: 100vh;
  background-image: url('./images/bubble-1920.jpg');
  background-size: cover;
  .login-content
    width: 500px;
    margin: auto;
    background: white;
    z-index: 3;
    padding: 30px;
    color: dark-gray;
  .bottom
    height: 100%;
    top: 50%;
    background: dark-gray;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0px;