@import './basic.styl'

.login-container
  display: flex;
  align-content: center; 
  justify-content: center;
  height: 100vh;
  background-image: url('./images/bubble-1920.jpg');
  background-size: cover;
  .login-content
    width: 500px;
    margin: auto;
    background: white;
    z-index: 3;
    padding: 30px;
    color: dark-gray;
    box-shadow: 0px 0px 50px 0px #888888;
    button 
      background: light-green;
      color: white;
      font-weight: 800;
      border: 0px;
      justify-self: center;
      align-self: center;
      width: 150px;
    h1 
      font-weight: 400;
      text-align: center;
    form 
      display: grid;
      input 
        margin: 10px 0px;
  .bottom
    height: 100%;
    top: 50%;
    background: dark-gray;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0px;