.student-container 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  .welcome-hero
    font-family: utopia-std, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    strong
      color: #00a3e7;
.blog-content 
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }

.students-blog 
  background: #fffde8;

.percent-bar 
  background: green;

.avatar 
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  .avatar-image 
    object-fit: contain;
    border-radius: 50%;
    width: 100%;
    height: 100%;
