.dashboard-container
  display: flex;
  margin-top: 50px;
  .dashboard-content
    width: 100%;
    padding: 15px;
    .student-card
      .individual-students 
        display: flex;
        flex-wrap: wrap;
        button 
          margin: 10px;
.top-banner
    background: white;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

.dashboard-vocabulary
  .dash-vocab-list 
    display: inline-flex;
    li
      padding: 10px;