.individual-student
  .vocabulary-list
    display: inline-flex;
    li
      padding: 5px;
      margin: 5px;
      border: 1px solid lightgray;
  .avatar-choose 
    display: flex;
    grid-gap: 10px;
    max-height: 150px;
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vmin;
    margin: 10px auto;
    img
      object-fit: cover;
      height: 100px;
      width: 100px;
      cursor: pointer;
      transition: .2s;
      &:hover 
        filter: saturate(2);
        border: 2px solid white;
        transition: .2s;
