.welcome-container 
  position: relative;
  .home-nav 
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, #ffe5bb, #ffe7c1, #ffe9c7, #ffecce, #ffeed4);

    #floating-cloud 
      z-index: 1;    
      canvas
        z-index:4;
        max-width: 100%;
        max-height: 100%;
        display: block;
    .logo-info
      z-index: 2;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 2fr
      h1 
        align-self: start;
        color: #616161;
        font-family: ff-tisa-web-pro, serif;
        font-weight: 700;
        font-style: italic;
      h3
        color: #616161;
        text-align: right;
        width: 100%;
        margin-right: 50px;
        font-size: 16px;
        a
          color: #FF8800;
      img
        width: 500px;
      nav
        padding:10px;
        z-index: 4
        align-self: start;
        font-size: 40px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        font-family: sophisto, sans-serif;
        a
          text-decoration: none;
          color: #ff5a00;
          background: rgba(255, 255, 255, 0.5);
          padding: 10px;
          border-radius: 10px;
          transition: .5s;
          &:hover 
            background: rgba(255, 90, 0, 1);
            color: #fff;
            transition: .5s;