@import './basic.styl';

.welcome-container 
  position: relative;
  background-image: linear-gradient(to bottom, #ffe5bb, #ffe7c1, #ffe9c7, #ffecce, #ffeed4);
  height: 100vh;
  
  .home-nav 
    width: 100%;
    position: relative;
    .registerAccount 
      padding: 10px;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      font-size: 1.2rem;
      transition: .5s;
      &:hover 
        background: white;
        color: black;
    #floating-cloud 
      z-index: 1;    
      canvas
        z-index:4;
        max-width: 100%;
        max-height: 100%;
        display: block;
    .logo-info
      z-index: 2;
      position: relative;
      padding-top: 100px;
      top: 0px;
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr;
      align-content: center;
      .logo-hero 
        position: relative;
        h1 
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          color: white;
          top: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px;
          font-size: 3rem;
      h1 
        align-self: start;
        color: #616161;
        font-family: ff-tisa-web-pro, serif;
        font-weight: 700;
        font-style: italic;
        box-sizing: border-box;
        @media screen and (max-width: mobile) 
          padding: 10px;
          text-align: center;
          font-size: 1rem;
      h3
        color: #616161;
        text-align: right;
        width: 100%;
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
        @media screen and (max-width: mobile) 
          font-size: 14px;
        a
          color: #FF8800;
      img
        width: 300px;
        @media screen and (max-width: mobile) 
          width: 150px;
      nav
        padding:10px;
        z-index: 4
        align-self: start;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        font-family: sophisto, sans-serif;
        width: 100%;
        max-width: 300px;
        @media screen and (max-width: mobile)
          display: inline-grid;
          grid-template-columns: 1fr;
        a
          text-decoration: none;
          color: white;
          background: #79ABE0;
          padding: 15px 10px;
          border-radius: 10px;
          transition: .5s;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          &:hover 
            background: rgba(255, 90, 0, 1);
            color: #fff;
            transition: .5s;